
.book-container {
  perspective: 2500px;
}

.book {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.page {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
}

.page.flipped {
  transform: rotateY(-180deg);
}

.page-front,
.page-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
}

.page-back {
  transform: rotateY(180deg);
}
